.container {
    background-color: var(--about-background-color);
    color: var(--secondary-color);
    min-height: calc(100vh - 6rem);
    width: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container a {
    text-decoration: none;
    color: var(--secondary-color);
}

.about {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    text-align: center;
    width: 70%;
    word-spacing: 1rem;
    padding: 5rem;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about a {
    text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}

.about a:hover {
    text-decoration-color: var(--secondary-color);
}

@media screen and (max-width: 1200px) {

    /* Large Laptop */
    .about {
        font-size: 1.7rem;
        padding: 4rem;
        word-spacing: 0.8rem;
    }
}

@media screen and (max-width: 1024px) {

    /* Medium Laptop / iPad Landscape */
    .about {
        font-size: 1.6rem;
        padding: 3rem;
        word-spacing: 0.5rem;
    }
}

@media screen and (max-width: 860px) {

    /* Tablet / Small Laptop */
    .container {
        justify-content: flex-start;
        padding: 0.5rem;
    }

    .about {
        word-spacing: 0.2rem;
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {

    /* Mobile */
    .about {
        font-size: 1.4rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 400px) {

    /* Mobile */
    .about {
        font-size: 1.1rem;
        padding: 1rem;
    }
}