.container {
    background-color: var(--about-background-color);
    color: var(--secondary-color);
    height: calc(100vh - 6rem);
    width: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container a {
    text-decoration: none;
    color: var(--secondary-color);
}

.about {
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
    text-align: center;
    width: 100%;
    word-spacing: 1rem;
    padding: 5rem;
    transition: all 0.5s ease;
}

.about a {
    text-decoration: underline 0.2rem rgba(0, 0, 0, 0 );
    transition: all 0.5s ease;
}

.about a:hover {
    text-decoration-color: var(--secondary-color);
}

@media screen and (max-width: 860px) {
    .container {
        justify-content: flex-start;
        padding: 0.5rem;
    }
    .about {
        word-spacing: 0.5rem;
        text-align: center;
        font-size: 2.5rem;
        padding: 2rem;
    }
}