.container {
    background-color: var(--contact-background-color);
    color: var(--secondary-color);
    height: calc(100vh - 6rem);
    width: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    flex: auto;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    transform: translateY(-1rem);
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .link:hover {
        transform: translateY(-1rem);
    }
}