.header {
    background-color: var(--header-background-color);
    color: var(--primary-color);
    height: 6rem;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;

    padding: 2rem;

    z-index: 2;

    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);

    border-radius: 0rem 0rem 2rem 2rem;
}

.header a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.brand {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.blogLink {
    height: 100%;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {

    .brand {
        font-size: 2rem;
    }

    .header {
        /* padding: 1rem; */
    }

}