.main {
    margin-top: 6rem;
}

.div {
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div:nth-of-type(1) {
    height: calc(100vh - 6rem);
}

.np {
    position: fixed;

}

.landingSeparator {
    height: 6rem;
    width: 100%;
    background-color: var(--separator-background-color);
    padding: 0rem;
}

.subHeader {
    height:10vh;
    width: 100%;
    background-color: var(--separator-background-color);
    padding: 0;
}

.subHeader h2 {
    height: calc(100%);
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    
    filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    background-color: var(--primary-color);
    padding: 2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    width: 60vw;
    height: 80vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 2rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.embed {
    width: 80%;
    height: 80%;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2vh;
}

@media screen and (max-width: 860px) {
    .projectsContainer {
        padding: 2rem 0.5rem 2rem 0.5rem;
    }
}