.container {
    width: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 100vh;
}

.tabList {
    display: flex;
    overflow-x: auto;
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    background-color: var(--primary-color);
    /* Add background to tabs */
}

.tab {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.tab:hover {
    background-color: var(--secondary-color);
    color: var(--projects-background-color);
}

.tabSelected {
    background-color: var(--secondary-color);
    color: var(--projects-background-color);
    font-weight: bold;
}

.tabPanels {
    padding-top: 1rem;
}

.tabPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    width: 100%;
}

.projectCard {
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s, transform 0.3s ease;
    background-color: var(--primary-background-color);
}

.projectCard:hover {
    background-color: var(--secondary-color);
    color: var(--projects-background-color);
    transform: translateY(-5px);
}

.projectTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.projectDescription {
    font-size: 0.9rem;
    color: var(--tertiary-color);
}

.noProjects {
    color: var(--tertiary-color);
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
}