.container {
    height: 100%;
}

.main {
    height: calc(100vh - 12rem);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.title {
    font-size: 6rem;
    margin: 0;
}

.paragraph {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    word-spacing: 1rem;
    font-family: monospace;
}

.topRight {
    position: absolute;
    top: 8rem;
    right: 4rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.about {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;
    word-spacing: 1rem;
    font-family: monospace;
    padding: 5rem;
}

.about a:hover {
    text-decoration: underline;
}

.mainProjects {
    height: calc(100vh - 12rem);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    top: 0rem;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 3rem;
    }
}