.container {
    height: 100%;
    width: 100%;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container:hover a {
    color: var(--primary-color);
}

.h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 50vh;
    width: 100%;

    overflow-y: auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    color: var(--primary-color);
}

.a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.item {
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.item:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.item:hover .a {
    color: var(--secondary-color);
}

.small {
    font-size: 0.8rem;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .container:hover a {
        color: var(--primary-color);
    }
}