.box {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0px solid var(--primary-color);
    border-radius: 2px;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.box:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.box:hover .link {
    color: var(--secondary-color);
}

.link {
    color: var(--primary-color);
    flex: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 900;
}

.link a {
    height: 100%;
}

.link:hover {
    transform: translateY(-0.2rem);
}



@media only screen and (max-width: 600px) {
    .box:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
    .box:hover .link {
        color: var(--primary-color);
    }
    .link:hover {
        transform: translateY(0);
    }


    .link {
        border: 1px solid var(--primary-color);
    }
}