html,
body {
  height: 100vh;
  width: calc(100vw - 2rem);
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  transition: all 0.3s ease-in-out;
  
  --primary-color: white;
  --secondary-color: black;

  color: var(--primary-color);
  background-color: var(--secondary-color);

  overflow: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.primary-color {
  color: var(--primary-color);
}




@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}
