html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  transition: all 0.3s ease-in-out;
  
  --primary-color: white;
  --secondary-color: black;

  --header-background-color: rgba(0, 0, 0, 0.3);
  --separator-background-color: rgba(255, 255, 255, 1);
  --footer-background-color: rgba(0, 0, 0, 0);

  --landing-background-color: rgba(0, 0, 0, 0);
  --projects-background-color: rgba(255, 255, 255, 1);
  --about-background-color: rgba(255, 255, 255, 1);
  --contact-background-color: rgba(255, 255, 255, 1);

  --page-height: calc(100vh - 6rem);

  color: var(--primary-color);
  background-color: var(--secondary-color);

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* svg {
  filter: drop-shadow(0 0.5rem 0.5rem rgba(100, 100, 100, 0.5));
} */



@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}
