.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    justify-content: space-between;
}

.navbar {
    flex: 1;
}

.main {
    flex: 2;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.main a {
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    fill: var(--primary-color);
}

.main:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main:hover a {
    color: var(--secondary-color);
    fill: var(--secondary-color);
}

.footer {
    flex: 3;
}



@media only screen and (max-width: 600px) {
    .main {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        fill: var(--secondary-color);
    }
    
    .main a {
        color: var(--secondary-color);
        transition: all 0.5s ease-in-out;
        fill: var(--secondary-color);
    }
}