.box {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 0px solid var(--primary-color);
    border-radius: 2px;
    padding: 0 1rem;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.box:hover {
    color: black;
    background-color: var(--primary-color);
    cursor: pointer;
}

.box:hover .link {
    color: var(--secondary-color);
}

.title {
    font-size: 2rem;
    width: 100%;
    margin: 0;
}

.link {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}




@media only screen and (max-width: 600px) {
    .box {
        /* border-top: 2px solid var(--primary-color); */
        /* border-bottom: 2px solid var(--primary-color); */
        /* border-left: 20px solid var(--primary-color);
        border-right: 20px solid var(--primary-color); */

        padding: 0;
    }
    .box:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        cursor: pointer;
    }
    .box:hover .link {
        color: var(--primary-color);
    }
    .title {
        font-size: 1.5rem;
    }
    .link {
        color: var(--primary-color);
    }


}